@{
    var email = User.Identity.Name;
    var appName = "AppName";
    var theme = User.FindFirst("Profile:Theme")?.Value;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="~/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
    <title>@ViewData["Title"] - @appName</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/solid.min.css" />

    <%= htmlWebpackPlugin.tags.headTags %>

    <!---
        lumen
        sketchy
        spacelab
        superhero
        yeti

        cerulean
        darkly
        materia
        sandstone
        slate

        cosmo


        minty
        simplex
        solar
        journal
        lux
        pulse

        -->
    <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css" />
    @*@if (!string.IsNullOrWhiteSpace(theme))
        {
            <link rel="stylesheet" href="@theme" />
        }*@
    
</head>
<body id="top">
    <div id="app">
        @RenderBody()
    </div>

    <partial name="_LogoutModal" />

    <%= htmlWebpackPlugin.tags.bodyTags %>

    @RenderSection("Scripts", required: false)
</body>
</html>
