@{
    var email = User.Identity.Name;
    var appName = "AppName";
    var theme = User.FindFirst("Profile:Theme")?.Value;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="~/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
    <title>@ViewData["Title"] - @appName</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/solid.min.css" />

    <script defer src="/app/x-d153ab5e1523379d8ca0-bundle.js"></script><script defer src="/app/x-d5d4a8bebab55fa96e97-bundle.js"></script><script defer src="/app/x-b49b48b79f8886c8d2e2-bundle.js"></script><script defer src="/app/x-80a659b5e3516b0a3cf3-bundle.js"></script><script defer src="/app/x-abe3e5cff0a47b621864-bundle.js"></script><script defer src="/app/x-0686a3d91ec8a2f3d2b5-bundle.js"></script><script defer src="/app/x-10bacceff58c3e24c782-bundle.js"></script><script defer src="/app/x-fc12e1246b02e281e05a-bundle.js"></script><script defer src="/app/x-c07c54285dcac6acfb60-bundle.js"></script><script defer src="/app/x-9a5fb056feccfbfc704c-bundle.js"></script><script defer src="/app/x-979854c8f0c452aa7dbd-bundle.js"></script><script defer src="/app/x-91950d7947635c2ad33a-bundle.js"></script><script defer src="/app/x-12ca118b43e416bd6b31-bundle.js"></script><script defer src="/app/x-e9e495b9e2e4f295bef9-bundle.js"></script><script defer src="/app/x-639fa1e70c1313c48f78-bundle.js"></script><script defer src="/app/x-4a3eaa9db838a3a40143-bundle.js"></script><script defer src="/app/x-224eda6a9249e3c43bad-bundle.js"></script><script defer src="/app/x-ac34697af5d258ee6954-bundle.js"></script><script defer src="/app/x-ef805a646c0fcaada80d-bundle.js"></script><script defer src="/app/x-e3bad7748072263b5aaf-bundle.js"></script><script defer src="/app/x-c298ffc523e06cfe7918-bundle.js"></script><script defer src="/app/x-bf1276bb52264fa5d6b1-bundle.js"></script><script defer src="/app/x-c4cdcefe269b1f92fc69-bundle.js"></script><script defer src="/app/x-dd49b66559259421447b-bundle.js"></script><script defer src="/app/administrator-6d1b055cc65f34d48013.js"></script><link href="/app/x-f71c29a67d08a0fb92b3-bundle.css" rel="stylesheet"><link href="/app/x-231e8e41a37b8a862884-bundle.css" rel="stylesheet"><link href="/app/x-594cb45ef79be04a7722-bundle.css" rel="stylesheet"><link href="/app/x-95e80455dccbb35e161e-bundle.css" rel="stylesheet"><link href="/app/administrator-32bfd462aa0a1b597d53.css" rel="stylesheet">

    <!---
        lumen
        sketchy
        spacelab
        superhero
        yeti

        cerulean
        darkly
        materia
        sandstone
        slate

        cosmo


        minty
        simplex
        solar
        journal
        lux
        pulse

        -->
    @*<link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css" />*@

    @if (!string.IsNullOrWhiteSpace(theme))
    {
    <link rel="stylesheet" href="@theme" />
    }

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body id="top">
    <div id="app">
        @RenderBody()
        @*<app inline-template>
                <div style="padding-top:60px">
                    <app-bar email="@email" app-name="@appName"></app-bar>
                    <main class="container-lg main">
                        @RenderBody()
                    </main>
                </div>
            </app>*@
    </div>

    <partial name="_LogoutModal" />

    

    @RenderSection("Scripts", required: false)
</body>
</html>
